* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: powderblue;
  color: lightcoral;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.app {
  padding: 20px;
}

.app span {
  display: block;
  margin-bottom: 8px;
}

.app input {
  height: 36px;
  width: 256px;
  padding: 2px 5px;
  border: none;
  box-shadow: 1px 1px 4px 1px slategray;
}

.app .list {
  list-style: none;
  width: 256px;
}

.app .list-item {
  padding: 10px;
}

.app .list-item--completed {
  text-decoration: line-through;
}

.app .list-item:nth-child(even) {
  background-color: lightgray;
}
